ul {
    display: block;
    background-color: cadetblue;
    list-style-type: none;
    height: 8vh;
    padding-top: 4vh;

}

ul li {
    color: black;
    display: inline;
    font-size: 35px;
    padding: 4vh;
}

#Nameid {
    width: 100%;
}

div {
    background-color: rgb(183, 253, 253);
}

img {
    width: 250px;
    height: 150px;
    margin-top: 10px;
    padding-left: 20vh;
  }

.footer {
    color: black;
    padding: 12px;
    padding-left: 90vh;
    margin-top: 10px;
    background-color: bisque;
    border-top: 1vh rgb(22, 22, 22);
}
.left, .right {
    border: 1px solid #000;
    padding: 20px;
    width: 40%;
  }
.container{
    justify-content: space-around;
    display: flex;
    padding-right: 20px;
}
.ButtonId{
    justify-content: space-around;
    display: flex;
    color: black;
    height: 40px;
    
}
.NameId{
    padding-top: 20px;
    font-size: 3vh;
    width: 100%;
}
.EmailId{
    padding-top: 20px;
    padding-bottom: 120px;
    font-size: 3vh;
}
#name,#email{
    width: 100%;
    font-size: 3vh;
}
